.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  box-shadow: 3px 3px 15px 5px rgba(0, 176, 155, 0.5);
  border-radius: 8px;
}
