.wrapper {
  margin: 0 auto;
  margin-bottom: 2.5rem;
  width: 100%;
  max-width: 25rem;
}

.label {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.31rem;
  font-weight: 500;
  background: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  box-shadow: 3px 3px 15px 5px rgba(0, 176, 155, 0.5);
  border-radius: 8px;
}

.accent {
  display: flex;
  align-items: center;
  gap: 0.31rem;
}

.input {
  padding: 0.63rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: linear-gradient(90deg, #96c93d 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2),
    0px 2px 5px rgba(0, 176, 155, 0.3);
  transition: border-color 0.3s linear;

  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}

.input:hover,
.input:focus {
  border-color: #5b5e15;
}
