.wrapper {
  display: flex;
  gap: 0.5rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.31rem;
  font-size: 1.13rem;
  padding: 0.5rem;
  transition: color 0.3s linear;
}

.link:hover,
.active {
  color: #15462b;
  text-decoration: underline;
}
