.wrapper {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.5rem;
}

.text {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.94rem;
}

.link {
  transition: color 0.3s linear;
  color: #07c35c;
  text-decoration: underline;
}

.link:hover,
.link:focus {
  color: currentColor;
}
