.item {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  box-shadow: 3px 3px 15px 5px rgba(0, 176, 155, 0.5);
  transition: background-color 0.3s ease;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 1.25rem) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 1.25rem) / 4);
  }
}

.item:hover {
  background-color: #f1f1f1;
}

.subtitle {
  display: flex;
  font-size: 1.13rem;
  align-items: center;
  font-weight: 600;
  margin: 0;
  gap: 0.63rem;
}

.phone {
  display: flex;
  align-items: center;
  margin: 0.31rem 0 0 0;
  gap: 0.75rem;
}

.icon {
  margin-left: 3px;
}

.wrapperButtons {
  display: flex;
  gap: 0.63rem;
}

.btn {
  padding: 0.38rem 0.75rem;
  background: linear-gradient(90deg, #005f47 0%, #00b09b 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2),
    0px 2px 5px rgba(0, 176, 155, 0.3);
  border-radius: 4px;
  transition: transform 0.3s linear;
}

.btn:hover,
.btn:focus {
  transform: scale(0.95);
}
