.item {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  box-shadow: 3px 3px 5px 5px rgba(0, 176, 155, 0.5);
  transition: background-color 0.3s ease;
  max-width: 400px;
}

.item:hover {
  background-color: #f1f1f1;
}

.subtitle {
  display: flex;
  font-size: 18px;
  align-items: center;
  font-weight: 600;
  margin: 0;
  gap: 10px;
}

.phone {
  display: flex;
  align-items: center;
  margin: 5px 0 0 0;
  gap: 12px;
}

.icon {
  margin-left: 3px;
}

.wrapperButtons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 6px 12px;
  background: linear-gradient(90deg, #005f47 0%, #00b09b 100%);
  border-radius: 4px;
  transition: transform 0.3s linear;
}

.btn:hover,
.btn:focus {
  transform: scale(0.95);
}
