.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 24px;
  padding: 25px;
  border-radius: 8px;
  background: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  box-shadow: 3px 3px 5px 5px rgba(0, 176, 155, 0.5);
}
