.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.25rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.31rem;
  font-size: 1.5rem;
  padding: 1.56rem;
  border-radius: 8px;
  background: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  box-shadow: 3px 3px 15px 5px rgba(0, 176, 155, 0.5);
}
